# admin & password information for grafana should be ignored.
grafana/graf-admin.txt
grafana/graf-password.txt

# snmp.yml may contain auth information. ignore it for safety.
snmp/snmp.yml

# password information for unpoller should be ignored.
# docker secret use for the username is not supported.
unpoller/poller-password.txt
