# If multiple piholes need to be monitored, they
# can be specified as a comma-delimited list for PIHOLE_HOSTNAME
# e.g. PIHOLE_HOSTNAME=192.168.1.2,192.168.1.3
PIHOLE_HOSTNAME=replace_with_the_IP_address_of_your_pihole

# If multiple API tokens are necessary, they can be
# specified as a comma-delimted list for PIHOLE_API_TOKEN.
# e.g. PIHOLE_API_TOKEN=token1,token2
PIHOLE_API_TOKEN=replace_with_the_API_token

# See the pihole exporter documentation if running on a
# non-standard port or using HTTPS.
PIHOLE_PORT=80
